emacs/custom.el
emacs/auto-save-list/
emacs/elpa/
emacs/eln-cache/
emacs/eshell/
emacs/forge-database.sqlite
emacs/*.el~
emacs/*.eld
emacs/transient/
emacs/tutorial
*xdg-terminals.list
asm-lsp/
Code/
dconf/
enchant/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/
nvim/
pulse/
systemd/
tiling-assistant/
user-dirs.*
.gsd-keyboard.settings-ported
*~
\#*\#
.\#*
tramp
.cache/
.lsp-session-*
.dap-*
tree-sitter